$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$green-colors:#008766;
$white-colors:#ffff;
$grey-colors:#7e7e7e;
$black-colors: #353535;
$grey-colors_ligth:#f6f6f6;
$ea:#eaeaea;
/*Font*/
$font-logo: "Shrikhand";
$font-body: "Roboto", sans-serif;
/*btn-Animate*/
$cd-btn-start: $white-colors;
$cd-btn-end: $primary-color;
